.formbox {
	&.--inline {
		.input__group > .input__wrapper {
			.input {
				border-radius: 0px;
				border-left: 0px;
			}
			&:first-child {
				.input {
					border-radius: 10px 0px 0px 10px;
					border-left: 1px solid $white;
				}
			}
			&:last-child {
				.input {
					border-radius: 0px 10px 10px 0px;
				};
			}
		}
	}
}

.input__wrapper {
	margin-bottom: 20px;
	.input__label {
		color: $midnight;
		text-align: left;
		text-transform: uppercase;
		font-size: $fs-xs;
		padding-left: 10px;
		width: 250px;
	}
}

.forms-single {
	&.--on-modal {
		.input__wrapper input {
			margin: 0px;
			color: $aqua-dark;
		}
	}
	&.--show-border {
		.input__wrapper input {
			border: 1px solid $white;
		}
	}
	.input__wrapper {
		margin: 0px;
	}
}

.btn-to-field {
	position: relative;
	.btn.--cancel {
		position: absolute;
		top: -3px;
    right: 0px;
    text-align: right;
	}
}

.forms-container {
	display: block;
	position: relative;
	.form__wrapper {
		display: block;
		width: 100%;
	}
}

/*responsiveness*/

@include mobile {
	.forms-single {
		&.--on-modal {
			.input__wrapper input {
			    width: calc(100% - 20px);
			}
		}
	}
	.input__textbox {
    width: 100%;
    box-sizing: border-box;
    border-color: $white;
	}
}