.input__togglebtn {
	@include wh(250px, 30px);
	display: flex;
	cursor: pointer;
	margin-bottom: 10px;
  align-items: center;
	&:hover {
		.toggle__btn {
			background: $aqua-darker;
			border: 1px solid $aqua;
		}
	}
	&.active {
		.toggle__btn {
			background: $aqua;
			border: 1px solid $aqua;
		}
	}
	.toggle__btn-wrapper {
		float: left;
		width: 30px;
	}
	.toggle__btn {
		width: 30px;
		height: 30px;
		border-radius: 5px;
		border: 1px solid $white;
		transition: all 0.3s ease;
	}
	.input__label {
		float: left;
		margin-left: 5px;
		text-transform: unset;
		margin-top: 4px;
	}
}