.btn {
	min-width: 80px;
	height: 40px;
	background: $peach;
	font-family: $josefin;
	font-size: $fs-xs;
	padding: 0px 5px;
	border: 1px solid $chrome;
	transition: all 0.6s ease;
	background: $chrome;
	color: $white;
	cursor: pointer;
	text-align: center;
	line-height: 40px;
	float: left;
    margin-left: 10px;
    &:not(.--disabled):focus{
		outline: none;
		box-shadow: none;
	};
	&:not(.--disabled):hover {
		border: 1px solid $midnight;
		background: transparent;
		color: $midnight;
	};
	&.--plain {
		color: $midnight;
		background: transparent;
		border: 0px none;
		&:hover {
			background: $chrome;
			color: $white;
			border: 0px none;
		};
	}
	&.--red.--plain {
		background: transparent;
		color: $red;
		&:hover {
			background: $red;
			color: $white;
		};
	}
	&.--primary.--plain {
		background: transparent;
		color: $aqua-dark;
		&:hover {
			background: $aqua-dark;
			color: $white;
		};
	}
	&.--disabled.--plain {
		background: $gray!important;
		color: $white!important;
		cursor: not-allowed;
		:not(.--disabled) {
			background: $gray!important;
			color: $white!important;
		}
	}
	&.--small {
    background: none;
    border: 0px;
    height: 25px;
    line-height: 25px;
    text-transform: uppercase;
    font-size: $fs-xxs;
    &:hover {
			border: none;
		}
	}
}