$icomoon-font-family: "icon" !default;
$icomoon-font-path: "fonts" !default;
$icomoon-icon-path: "icons" !default;

$icon-trophy: "\e978";
$icon-network: "\e900";
$icon-jjr: "\e901";
$icon-jjr_outline: "\e902";
$icon-skull: "\e903";
$icon-lion: "\e904";
$icon-bull: "\e905";
$icon-monkey: "\e906";
$icon-chicken: "\e907";
$icon-pig: "\e908";
$icon-frog: "\e909";
$icon-cat: "\e90a";
$icon-dog: "\e90b";
$icon-raccoon: "\e90c";
$icon-panda: "\e90d";
$icon-koala: "\e90e";
$icon-duck: "\e90f";
$icon-bear: "\e910";
$icon-rhino: "\e911";
$icon-eagle: "\e912";
$icon-penguin: "\e913";
$icon-rabbit: "\e914";
$icon-owl: "\e915";
$icon-tiger: "\e916";
$icon-paypal: "\e917";
$icon-linkedin: "\e918";
$icon-skype: "\e919";
$icon-windows8: "\e91a";
$icon-android: "\e91b";
$icon-apple_mac: "\e91c";
$icon-github: "\e91d";
$icon-deviantart: "\e91e";
$icon-behance: "\e91f";
$icon-youtube: "\e920";
$icon-twitter: "\e921";
$icon-instagram: "\e922";
$icon-facebook: "\e923";
$icon-google-drive: "\e924";
$icon-google: "\e925";
$icon-error: "\e926";
$icon-error_outline: "\e927";
$icon-warningreport_problem: "\e928";
$icon-violation: "\e928";
$icon-library_addqueueadd_to_photos: "\e929";
$icon-not_interesteddo_not_disturb: "\e92a";
$icon-pause: "\e92b";
$icon-play_arrow: "\e92c";
$icon-replay: "\e92d";
$icon-shuffle: "\e92e";
$icon-stop: "\e92f";
$icon-volume_off: "\e930";
$icon-volume_up: "\e931";
$icon-mail_outline: "\e932";
$icon-list_alt: "\e933";
$icon-add: "\e934";
$icon-add_box: "\e935";
$icon-add_circle: "\e936";
$icon-add_circle_outlinecontrol_point: "\e937";
$icon-clearclose: "\e938";
$icon-content_copy: "\e939";
$icon-content_cut: "\e93a";
$icon-content_paste: "\e93b";
$icon-createmode_editedit: "\e93c";
$icon-filter_list: "\e93d";
$icon-flagassistant_photo: "\e93e";
$icon-linkinsert_link: "\e93f";
$icon-remove: "\e940";
$icon-remove_circledo_not_disturb_on: "\e941";
$icon-remove_circle_outline: "\e942";
$icon-reply: "\e943";
$icon-reply_all: "\e944";
$icon-report: "\e945";
$icon-save: "\e946";
$icon-send: "\e947";
$icon-file_downloadget_app: "\e948";
$icon-file_upload: "\e949";
$icon-keyboard_arrow_down: "\e94a";
$icon-keyboard_arrow_left: "\e94b";
$icon-keyboard_arrow_right: "\e94c";
$icon-keyboard_arrow_up: "\e94d";
$icon-menu: "\e94e";
$icon-local_print_shopprint: "\e94f";
$icon-arrow_back: "\e950";
$icon-arrow_drop_down: "\e951";
$icon-arrow_drop_up: "\e952";
$icon-arrow_forward: "\e953";
$icon-arrow_upward: "\e954";
$icon-arrow_downward: "\e955";
$icon-first_page: "\e956";
$icon-last_page: "\e957";
$icon-arrow_left: "\e958";
$icon-arrow_right: "\e959";
$icon-people_outline: "\e95a";
$icon-person: "\e95b";
$icon-person_add: "\e95c";
$icon-person_outlineperm_identity: "\e95d";
$icon-thumb_down_alt: "\e95e";
$icon-thumb_up_alt: "\e95f";
$icon-check_box: "\e960";
$icon-check_box_outline_blank: "\e961";
$icon-stargrade: "\e962";
$icon-star_half: "\e963";
$icon-star_outline: "\e964";
$icon-bookmarkturned_in: "\e965";
$icon-bookmark_outlineturned_in_not: "\e966";
$icon-cached: "\e967";
$icon-code: "\e968";
$icon-delete: "\e969";
$icon-description: "\e96a";
$icon-document: "\e96a";
$icon-done: "\e96b";
$icon-done_all: "\e96c";
$icon-favorite: "\e96d";
$icon-favorite_outline: "\e96e";
$icon-help: "\e96f";
$icon-list: "\e970";
$icon-lock_open: "\e971";
$icon-lock_outline: "\e972";
$icon-note_add: "\e973";
$icon-view_headline: "\e974";
$icon-view_module: "\e975";
$icon-toggle_off: "\e976";
$icon-toggle_on: "\e977";

