.no-pads {
	@include no-pads();
}

.trans-hide {
	display: none!important;
	opacity: 0!important;
	transition: opacity 1.5s ease 0s, display 1.5s !important;
}

.hide {
	display: none!important;
}

.group:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}
* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */

/*animation classes*/
.fade-in {
	@include fade-in();
}

.card-flip-up {
	@include flip-up();
}

.shadow {
	@include shadow();
}