$mobile-width: 420px;
$tablet-width: 768px;
$desktop-sm-width: 1025px;
$desktop-md-width: 1600px;
$desktop-lg-width: 1800px;

@mixin mobile {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-sm-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-sm-width}) {
    @content;
  }
}

@mixin desktop-md {
  @media (min-width: #{$desktop-md-width}) {
    @content;
  }
}

@mixin desktop-lg {
  @media (min-width: #{$desktop-lg-width}) {
    @content;
  }
}

@mixin customize-tablet {
  @media (max-width: #{$desktop-sm-width - 1px}) {
    @content;
  }
}

@mixin mobile-keyboard {
  @media (max-width: #{$desktop-sm-width - 1px}) and (max-height: 445px) {
    @content;
  }
}