/*fonts*/
$josefin: 'Josefin Sans',sans-serif;
$shrikhand: 'Shrikhand', 'Josefin Sans', sans-serif;
$fw-thin: 400;
$fw-light: 200;
$fw-reg: 400;
$fw-semib: 600;
$fw-bold: 700;

$fs-xxs: 12px;
$fs-xs: 18px;
$fs-s: 26px;
$fs-m: 32px;
$fs-l: 50px;
$fs-xl: 75px;
$fs-xxl: 150px;

/*neutral*/
$black: rgba(19, 19, 19, 1);
$white: rgba(255, 255, 255, 1);
$white-d1: rgba(236, 236, 236, 1);
$gray: rgba(142, 142, 142, 1);
$black-10: rgba(19, 19, 19, 0.1);
$white-10: rgba(255, 255, 255, 0.1);
$gray-10: rgba(142, 142, 142, 0.1);
$black-75: rgba(19, 19, 19, 0.75);
$black-50: rgba(19, 19, 19, 0.5);
$white-50: rgba(255, 255, 255, 0.5);
$gray-50: rgba(142, 142, 142, 0.5);

/*extended colors*/
$bg: $white-d1;
$midnight: #140019;
$aqua: #33ff8f;
$aqua-dark: #25b365;
$aqua-darker: #179668;
$aqua-light: #7bffb7;
$chrome: #ffc313;
$chrome-dark: #d3a315;
$peach: #fc913d;
$peach-light: #ffba83;
$coral: #ee202f;
$purple: #833ab4;
$red: $coral;
$red-50: rgba(238, 32, 47, 0.5);
$red-10: rgba(238, 32, 47, 0.1);
$cream: #fff7e4;

/*element colors*/
$bg-splash: $bg;
$card-back-splash: $midnight; 
$card-front-splash: $aqua;
$logo-color: $chrome;

/*element dimensions*/
$header-height: 50px;
$header-width: 100%;
$card-w: 200px;
$card-h: 160px;